<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script>
      const addProduct = async ()=>{
        let name = document.getElementById('name').value;
        let company = document.getElementById('company').value;
        let code = document.getElementById('code').value;
        let date = document.getElementById('date').value;
        let city = document.getElementById('city').value;
        let country = document.getElementById('country').value;

        const data = {name, company, code, date, city, country};

        const response = await fetch('/api/products', {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
                })
                .then((response) => response.json())
                .then((data) => {
                    console.log('Success:', data);
                    return data;
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            
            if(response.result == "ok"){
                location = "/products"
            }else{
                alert("Username or password is incorrect.");
            }

      }
    </script>

    <h1><%= title %></h1>
      <input id="name" placeholder="Name"/><br/><br/>
      <input id="company" placeholder="Company"/><br/><br/>
      <input id="code" placeholder="Code"/><br/><br/>
      <input id="date" placeholder="Date"/><br/><br/>
      <input id="city" placeholder="City"/><br/><br/>
      <input id="country" placeholder="Country"/><br/><br/>
      <input type="button" onclick='addProduct()' value="Submit">
  </body>
</html>
