<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button onclick="location='/dashboard'">Dashbord</button>&nbsp;|&nbsp;
    <button onclick="location='/customers'">Customers</button>&nbsp;|&nbsp;
    <button onclick="location='/products'">Products</button>&nbsp;|&nbsp;
    <button onclick="location='/about'">About</button>&nbsp;|&nbsp;
    <button onclick="location='/login'">Logout</button>&nbsp;|&nbsp;
  </body>
</html>
