<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <button onclick="location='/dashboard'"> Dashboard</button>&nbsp;|&nbsp; 
    <button onclick="location='/customers'"> Customers</button>&nbsp;|&nbsp; 
    <button onclick="location='/products'"> Products</button>&nbsp;|&nbsp; 
    <button onclick="location='/about'"> About</button>&nbsp;|&nbsp; 
    <button onclick="location='/login'"> Logout</button>&nbsp;|&nbsp; 
    <hr/>
    <script>
        const doEdit = async(id)=>{
            location = '/products/edit/' + id;
        }
        const doDelete = async(id)=>{
            const response = await fetch('/api/products', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({id}),
                })
                .then((response) => response.json())
                .then((data) => {
                    console.log('Success:', data);
                    return data;
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            
            console.log('response:', response);
            if(response.result == "ok"){
                location = "/products"
            }
        }
        const doSearch = function(){
            var searchText = document.getElementById("searchText").value;
            var selectField = document.getElementById("select").value;
            if(searchText == ""){
                location = "/products";
            }else{
                location = "/products/search/"+selectField+"/"+searchText;
            }
        }
    </script>

    <button onclick="location='/products/add'">Add</button><br/><br/>

    <input id="searchText" type="text" name="" placeholder="search text"> 
    <select id="select">
      <option value="name">Name</option>
      <option value="code">Code</option>
      <option value="company">Company</option>
      <option value="city">City</option>
      <option value="country">Country</option>
    </select>
    <button onclick="doSearch()">Search</button><br/><br/>

    <div class="page-data">
        <div class="data-table">
           <table border="1" cellpadding="7" cellspacing="7">
               <tr>
                   <th width="20px">No</th>
                   <th width="250px">Name</th>
                   <th width="220px">Company</th>
                   <th width="100px">Code</th>
                   <th width="100px">Date</th>
                   <th width="200px">City</th>
                   <th width="200px">Country</th>
                   <th>Edit</th>
                   <th>Delete</th>
               </tr>
               <% if(data.length){for(var i = 0;i < data.length;i++) { %>       
               <tr>
                   <td><%=data[i].id%></td>
                   <td><%=data[i].name%></td>
                   <td><%=data[i].company%></td>
                   <td><%=data[i].code%></td>
                   <td><%=data[i].date%></td>
                   <td><%=data[i].city%></td>
                   <td><%=data[i].country%></td>
                   <td><button onclick="doEdit('<%=data[i].id%>');" >Edit</button></td>
                   <td><button onclick="doDelete('<%=data[i].id %>');">Delete</button></td>
               </tr>
           <% }
            }else{ %>
                <tr>
                   <td colspan="7">No products found</td>
                </tr>
           <% } %> 
           </table>
        </div>
       </div>

  </body>
</html>
